<!DOCTYPE html>
<html>

<head>
  <title>Discussions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <div class="left">
    <h2>Account</h2>
    {% if session.username %}
      <p>You're logged in as {{ session.username }}</p>
      <p>You are the #{{ session.user_id }} user created!</p>
    {% endif %}

    {% if not session.username %}
      <p><a href="/login"><button>Log in</button></a></p>
      <p><a href="/register">Create an account</a></p>
    {% endif %}

    {% if session.username %}
      <p><a href="/logout"><button>Log out</button></a></p>
    {% endif %}
  </div>

  <div class="main">
    <!--SEARCH BAR-->
    <form action="/search" method="GET">
      <p>Search: <input type="text" name="query" placeholder="I'd like to discuss..." value="{{ query }}"> 
      <input type="submit" value="Search"> </p>
    </form>
    

    <!--DISCUSSIONS COLUMN-->
    <h1>Discussions</h1>
    {% if session.username %}
    <p>
      Start a <a href="/new_item"><button style="background-color: rgb(128, 206, 135);">new topic</button></a>
    </p>
    {% endif %}

    {% if not session.username %}
      <p><a href="/login">Log in</a> to start your own discussion!</p>
    {% endif %}

    <h2>Current topics</h2>
    <ul>
      
      {% for item in items %}
        <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
      {% else %}
        <li>No topics posted.</li>
      {% endfor %}
    </ul>
  </div>

  <div class="right">
    <h2>Progress</h2>
    <ul>
      <li>Account creation and logging in/out</li>
      <li>Creating posts</li>
      <li>Editing and deleting posts</li>
      <li>Searching up posts by keywords</li>
      <li>User permissions</li>
      <li>Seeing users' profiles</li>
    </ul>

    <h2>To do</h2>
    <ul>
      <li>Commenting on posts</li>
      <li>Searching up posts by category</li>
    </ul>
  </div>

</body>
</html>
