<!DOCTYPE html>
<html>

<head>
  <title>Logging in</title>
</head>

<body style="background-color: rgb(249, 252, 255);">
  {% if session.username %}
  <p>
    You're logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <form action="/login" method="post" style="background-color: rgb(249, 252, 255);">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log in" />
  </form>
  {% endif %}
</body>

</html>