<!DOCTYPE html>
<html>

<head>
  <title>Logging in</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  {% if request.args.get('registered') %}
  <p>You can now log in. Welcome!</p>
  {% endif %}
  {% if session.username %}
  <p>
    You're logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log in" />
  </form>
  {% endif %}
</body>

</html>