<!DOCTYPE html>
<html>

<head>
  <title>New topic</title>
</head>

<body style="background-color: rgb(249, 252, 255);">
  <h1>New topic</h1>
  <form action="/create_item" method="post">
    <p>
      Title: <br />
      <input type="text" size="60" name="title" maxlength="50" required/>
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="7" cols="60" maxlength="1000" placeholder="Add some context! This is optional."></textarea>>
    </p>
    <p>Category: <br />
      <select name="section">
        <option value="life">life</option>
        <option value="films">films</option>
        <option value="books">books</option>
        <option value="music">music</option>
        <option value="games">games</option>
        <option value="anime/manga">anime/manga</option>
        <option value="animals">animals</option>
        <option value="sports">sports</option>
        <option value="relationships">relationships</option>
        <option value="fashion">fashion</option>
        <option value="toys">toys</option>
        <option value="unique">unique topic</option>

        
      </select>
    </p>
    <input type="submit" value="Post" />
  </form>
</body>

</html>