<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="post-page">
    <p>
      Opinion by: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
    </p>
    
    <p>
      
      {% for class in classes %}
      <p>Category: <span class="cat">{{ class.value }}</span></p>
      {% endfor %}

    </p>

    <h1>{{ item.title }}</h1>
    <p>{% for image in images %}
    <img src="/image/{{ image.id }}"/>
    {% endfor %}
    </p>

    <div class="border" style="white-space: pre-wrap;">{{ item.description }}</div>

    {% if session.user_id == item.user_id %}
    <p>
      <a href="/edit_item/{{ item.id }}">Edit</a>
      <a href="/remove_item/{{ item.id }}">Delete</a>  
      <a href="/images/{{ item.id }}">Images</a>  

    </p>
    {% endif %}
    <p>
      <a href="/"><button>Back</button></a>
    </p>

    <h2>Community Poll</h2>
    <div class="poll-results">
        <span>Yes: {{ reaction_counts.yes }}</span>
        <span>Meh: {{ reaction_counts.meh }}</span>
        <span>No: {{ reaction_counts.no }}</span>
    </div>

    <h2>Discussion:</h2>
    <ul>
      {% for comment in comments %}
      <p>
      <a href="/user/{{ comment.user_id }}">
          {{ comment.username }}
      </a>

      {% if comment.reaction %}
          [{{ comment.reaction|upper }}]
      {% endif %}

      : {{ comment.comment }}
            </p>
      {% else %}

      <p>No messages yet!</p>
      {% endfor %}
    </ul>

      <p>
        <h2>Vote</h2>
        {% if already_voted %}
        <p>You already voted: {{ user_vote.reaction | upper }}</p>
        {% else %}
        <form action="/vote" method="post">
            <input type="hidden" name="item_id" value="{{ item.id }}">

        <select name="reaction" required>
            <option value="yes">Yes</option>
            <option value="meh">Meh</option>
            <option value="no">No</option>
        </select>

            <input type="submit" value="Vote">
        </form>
        {% endif %}
      </p>

      <form action="/comment" method="post">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <p>
            Discuss: <br />
            <textarea name="comment" rows="6" cols="60" maxlength="450" required></textarea>
        </p>
          <input type="submit" value="Post" />
      </form>
  </div>
</body>

</html>