<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <div class="ver-header">
    <h1>{{ item.title }}</h1>
    <p>
      Opinion by: <a href="/user/{{ item.user_id }}" class="no-link">{{ item.username }}</a>
      {% for class in classes %}
      <p>Category: <span class="cat">{{ class.value }}</span></p>
      {% endfor %}
    </p>

    {% if session.user_id == item.user_id %}
      <a href="/edit_opinion/{{ item.id }}" class="edit-btn">Edit text</a>
      <a href="/images/{{ item.id }}" class="edit-btn">Edit images</a>
      <a href="/remove_opinion/{{ item.id }}" class="edit-btn">Delete</a>
    {% endif %}
    <p>
      <a href="/"><button>Back</button></a>
    </p>
  
    </div>

    <div class="post-page">
    <p>{% for image in images %}
    <img src="/image/{{ image.id }}" alt="Image for topic"/>
    {% endfor %}
    </p>

    <div class="border">{{ item.description | show_lines }}</div>

    <h2>Community Poll:</h2>
    <div class="poll-results">
        <span>Yes: {{ reaction_counts.yes }}</span>
        <span>Meh: {{ reaction_counts.meh }}</span>
        <span>No: {{ reaction_counts.no }}</span>
    </div>
    

      <p>
        <h3>Vote:</h3> 
        {% if session.user_id %}
          {% if user_vote %}
            <p>You already voted: {{ user_vote | upper }}</p>
          {% else %}
          <form action="/vote" method="post">
              <input type="hidden" name="item_id" value="{{ item.id }}">
          <label for="reaction">What do you think?</label>
          <select id="reaction" name="reaction" required>
              <option value="yes">Yes</option>
              <option value="meh">Meh</option>
              <option value="no">No</option>
          </select>
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
              <input type="submit" value="Vote">
          </form>
          {% endif %}
        {% else %}
        <p><a href="/login">Log in</a> to give your vote!</p>
        {% endif %}
      </p>
    
    
      <h2>Discussion:</h2>
      <ul>
        {% for comment in comments %}
        <p>
        <a href="/user/{{ comment.user_id }}" class="no-link-dark">
            {{ comment.username }}
        </a>

        {% if comment.reaction %}
            [{{ comment.reaction|upper }}]
        {% endif %}

        : {{ comment.comment | show_lines }}
              </p>
        {% else %}

        <p>No messages yet!</p>
        {% endfor %}
      </ul>



      <form action="/comment" method="post">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <p>
            <label for="comment">Discuss:</label> </br>
        {% if session.user_id %}
            <textarea id="comment" name="comment" rows="6" cols="60" maxlength="450" required></textarea>
        </p>

          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Post" />

        {% else %}
        <p><a href="/login">Log in</a> to discuss this further!</p>
        {% endif %}

      </form>
    </div>
</body>

</html>